.inbox-container {
  height: 100vh;
  overflow: hidden;
  .inbox-content {
    display: flex;
    justify-content: space-between;

    .sidebar {
      background-color: #ececec;
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      height: 100vh;
      width: 30%;

      ul {
        padding: 0;
        margin: 0;
        li {
          cursor: pointer;
          list-style-type: none;
          font-size: 19px;
          display: flex;
          align-items: center;
          padding: 8px 10px;
          border-radius: 10px;
          div {
            margin-left: 15px;
          }
        }
      }

      .active {
        background-color: #00bf72;
      }
    }
    .tag-container {
      margin-top: 10rem;
      padding: 8px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      .plus {
        // margin-left: 30px;
      }
    }
    .section-content {
      width: 100%;

      .section {
        padding: 10px;
      }
    }
  }
  .sidebar-dark {
    background-color: black !important;
  }
}
