.msg-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
    .left-arrow {
      margin-top: 1rem;
      margin-left: 1.9rem;
    }
    .home {
      margin-right: 1.9rem;
      margin-top: 1rem;
    }
  }

  .msg-content {
    margin: 3rem 0;
    background-color: #f0f4f8;
    width: 60%;
    border-radius: 20px;
  }
  .dark {
    background-color: black !important;
    color: white;
    border: white 1px solid;
  }

  .msg {
    padding: 20px;
  }
}
