@import url("./variables.scss");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
}

body.light-theme {
  --primary-color: #000;
  --background-color: #fff;
}

body.dark-theme {
  --primary-color: #fff;
  --background-color: #000;
}
